---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente",
    title: "Prácticas como Ingeniero de IA Generativa",
    company: "Typsa Digital Solutions",
    description: "",
  },
  {
    date: "Enero 2025 – Agosto 2025",
    title: "Operario de obra",
    company: "Trabajos Generales y Construcción",
    description: "",
  },
  {
    date: "Noviembre 2023 – Mayo 2024",
    title: "Prácticas en el departamento de Mejora Continua",
    company: "Yanfeng International Automotive Technology Spain S.L.",
    description: "Estudio y creación de reportes sobre el consumo energético de las máquinas en las distintas plantas de producción. Creación y gestión de una web de ideas de mejora.",
  },
  {
    date: "Meses de verano 2021 – 2024",
    title: "Mantenimiento de Piscinas",
    company: "AquaCleaner S.L.",
    description: "",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
